.gparam {
    font-weight: bold
}

.aparam {

}

a.gparam, a.aparam {
    display: none;
}

.highlight {
    background-color: [ CORE_BGCOLORHIGH ];
    cursor: pointer;
}

SPAN.changed {
    background-color: [ COLOR_B5 ];
}
.datatable {
    table-layout: fixed;
    word-wrap: break-word;
}

.values {
    width: 50% !important;
}


.imgApp {
    vertical-align: middle;
}