table.dataTable thead th {
    cursor: auto;
}
table.dataTable {
    min-width: 1015px;
}
a {
    text-decoration: none;
    color: #0088CC;
}
.imgaccess{
    vertical-align: middle;
}
.DataTables_sort_icon {
    float: right;
    margin-top: 5px;
}
.accounttypeimg {
    text-align: center;
}
#header input {
    width: 90%;
}
.access {
    margin-bottom : 5px;
}
.ui-icon-empty{
    visibility: hidden;
}
.ui-combobox {
    position: relative;
    display: inline-block;
}

.ui-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    /*height: 1.7em;
     support: IE7
    *top: 0.1em;*/
}

.ui-combobox-input {
    margin: 0;
    padding: 0.3em;
}

table.dataTable { border-spacing: 0; border-collapse: collapse;}
table.dataTable thead th { padding: 3px 3px;}
table.dataTable tr td { border-bottom: 1px solid #eee; }
table.dataTable tr.odd, table.dataTable tr.even { background-color: #fff; }
table.dataTable tr.odd td.sorting_1, table.dataTable tr.even td.sorting_1 { background-color: #FFFDF2; }

.search {
    float: left;
    width: 85%;
    margin-left: 10px;
}
.search .ui-icon-search {
    display: inline;
    position: absolute;
    right: auto !important;
}

.searchField {
    padding-left: 20px;
    width: 100%;
    border-bottom: 1px solid white !important;
    border-right: 1px solid white !important;
    border-top: 1px solid #DDD !important;
    border-left: 1px solid #DDD !important;
    background-color: #F0F0F0;
}